body {margin:0px; font:12px Verdana, Arial, Helvetica}
* {padding:0; margin:0}
.dropdown {float:left; padding-right:0px}
.dropdown dt {width:90px; border:2px solid #498a48; padding:8px; color:white; font-weight:bold; cursor:pointer; background:#498a48;}
.dropdown dd {position:absolute; overflow:hidden; width:260px; display:none; background:#ffffff; z-index:200; opacity:0}
.dropdown ul {width:260px; border:2px solid #ffffff; list-style:none; border-top:none}
.dropdown li {display:inline}
.dropdown a, .dropdown a:active, .dropdown a:visited {display:block; padding:5px; color:#ffffff; text-decoration:none; background:#498a48; width:260px}
.dropdown a:hover {background:#346028; color:#ffffff}
.dropdown dt:hover {background:#346028; color:#ffffff}
.dropdown .underline {border-bottom:1px solid #498a48}